// ============================================
// AIX Landing - Ads Section
// ============================================

.ads {
  padding-block: var(--section-padding-y);
  background-image: url("../images/bg/lines.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;

  &__glow {
    position: absolute;
    top: 224px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__container {
    position: relative;
    z-index: 10;
    background-image:
      url("../images/icons/spiral.png"), url("../images/icons/tool.png");
    background-size: 204px, 195px;
    background-repeat: no-repeat no-repeat;
    background-position:
      top 90px right 60px,
      top 90px right;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    margin-inline: auto;
  }
}
