// ============================================
// AIX Landing - Analytics Hero Section
// ============================================

.analytics-intro {
  padding-top: 80px;
  padding-bottom: 148px;

  &__container {
    max-width: 753px;
    min-height: 683px;
  }
}
