// ============================================
// AIX Landing - Header
// ============================================

@use "../mixins" as mixins;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-header);
  @include mixins.glass-effect(10.65px, 0.02);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 16px;
  }

  &__logo {
    flex-shrink: 0;
    width: 48px;
    height: 48px;

    img {
      width: 100%;
      height: 100%;
      @include mixins.object-fit(contain);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 55px;
  }

  &__link {
    @include mixins.typography-primary(18px, 600, 24px);
    color: var(--color-text);
    @include mixins.link-primary();

    &--accent {
      color: var(--color-blue);

      &:hover {
        color: #81b6ff;
      }
    }
  }
}
